/*HEADER*/
#header .logo {
    margin-left: 2%;
    height: 65px;
    width: 18%;
}
#header #heading {
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    justify-content: center;
    width: 80%;
    font-size: 3em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  


/*NAVIGATION*/
#navigation #lists a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    /* margin: 0px 100px; */
}












/*BODY*/
#section2 {
    height: 330px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    border: 5px solid black;
    border-radius: 5px;
}
#section1 #menu ul {
    list-style: none;
    margin: 0 15px;
}
#section1 #menu p {
    margin: 20px 5px;
    font-size: 3em;
    font-family: cursive;
    color: crimson;
}
#section1 #menu a {
    text-decoration: none;
    color: black;
    font-size: 2.5em;
}












/*FOOTER*/
footer #topfooter {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}
footer #topfooter #contact {
    width: 100%;
    margin-bottom: 20px;
}
footer #topfooter #quicklinks {
    width: 100%;
    margin-bottom: 20px;
}

#whatsapp {
    position: fixed;
    height: 45px;
    width: 45px;
    right: 10px;
    bottom: 10px;
}