*{
    margin: 0;
    padding: 0;
}
#header{
    display: flex;
    flex-direction: row;
    background-color: black;
    width: 100%;
    height: 65px;
}
#header .logo {
    margin-left: 2%;
    height: 65px;
    width: 10%;
}
#header .logo img{
    height: 100%;
    width: 100%;
}
#header #heading{
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    justify-content: center;
    width: 88%;
    font-size: 2.6em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



/* Navigation Menu  */
#navigation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    background-color: black;
    margin-top: 20px;
    position: sticky;
    top: 0;

}
#navigation #lists{
    display: flex;
    flex-direction: row;
    list-style: none;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}
#navigation #lists .a{
    margin: auto;
}
#navigation #lists a {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    /* margin: 0px 100px; */

}
#navigation #lists #selected{
    color: lime;
    text-decoration: underline double;
}
#navigation #lists a:hover {
    color: red;
}



/* BODY  */
body{
    background-color: darkkhaki;
}
/* #mainsection{

    display: flex;
    height: 700px;
    width: 90%;
    margin: 75px auto 0px;
    flex-direction: column;
    border: 2px solid red;
} */
#section1{
    /* height: 50%; */
    width: 90%;
    margin: 0 auto 50px;
    display: flex;
    flex-direction: column;
    border: 8px solid maroon;
    background-color: lightgoldenrodyellow;
    justify-content: center;
    align-items: center;
}
#section1 #menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

}
#section1 #menu p {
    margin: 20px 0;
    font-size: 4em;
    font-family: cursive;
    color: crimson;
}
#section1 #menu ul{
    list-style: none;
}
#section1 #menu ul li{
    margin: 15px 0px;
}
#section1 #menu a{
    text-decoration: none;
    color: black;
    font-size: 3em;
}
#section1 #menu a:hover{
    color: blue;
}


#section2{
    height: 450px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    border: 5px solid black;
    border-radius: 5px;
}
#section2 #slideshow{
    width: 100%;
    z-index: -1;
    height: 100%;
    overflow: hidden;
}
.myslides{
    width: 100%;
    height: 100%;
    animation-name: slide; 
    animation-duration: 2s;
    /* animation-iteration-count: initial; */
    animation-timing-function: linear;
    
}
@keyframes slide{
    0%{transform: scale(3);}
    10%{transform: scale(1);}
    100%{transform: scale(1);}
}






/* #subsection{
    display: flex;
    height: 400px;
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
    border: 2px solid red;
}
#subsection #about {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    width: 100%;
    font-size: 3em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#subsection .about{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.3em;
} */

#whatsapp{
    position: fixed;
    height: 55px;
    width: 55px;
    right: 10px;
    bottom: 10px;
}
#whatsapp img{
    height: 100%;
    width: 100%;
}





/* FOOTER  */
footer{
    margin-top: 30px;
    background-color: black;
    color: blanchedalmond;
    bottom: 0;
}
footer #topfooter{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
}
footer #topfooter #contact{
    width: 50%;
    margin-bottom: 20px;
}
footer #topfooter .footerheading{
    font-size: 2em;
    padding: 10px 0px;
}
footer #topfooter #contact #companyname{
    font-size: 1.3em;
    color: blue;
    font-family: sans-serif;
    padding: 15px 0px;
}
/* footer #topfooter #contact #contactdetails{
    padding-bottom: 10px;
} */


footer #topfooter #quicklinks{
    width: 50%;
    margin-bottom: 20px;
}
footer #topfooter #quicklinks #links{
    margin-top: 10px;
    list-style: none;
}
footer #topfooter #quicklinks #links li{
    margin: 2% 0%;
}
footer #topfooter #quicklinks #links li a{
    text-decoration: none;
    color: red;
    font-size: 1.2em;
}
footer #topfooter #quicklinks #links li a:hover{
    color: chartreuse;
}


footer #bottomfooter{
    text-align: right;
    margin-right: 15px;
    padding-bottom: 10px;
    font-size: .8em;
}



